*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/images/background-pattern-desktop.svg);

    /* background-image: url(./assets/images/background-pattern-mobile.svg); */
    /* background: rgb(240, 142, 240); */
}
.card{
    background: white;
    border: 1px solid blue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
    gap: 0.8rem;
    position: relative;
    width: 50%;
}
.main-heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.accordion{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    
    .accordion-title{
        font-size: 0.8rem;
        text-align: left;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap:1rem;
        span:first-child{
            font-weight: 700;
        }
        span:last-child{
            border-radius: 50%;
            font-size: 1rem;
            height: 1rem;
            width: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(165, 86, 238);
            color: white;
        }
    }
    .accordion-body,.accordion-body1,.accordion-body2,.accordion-body3{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s ease-out;

        &.active{
            max-height: 10rem;
            transition: max-height 0.6s ease-in;
        }
    }
}